*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: Arial, Arial, Helvetica, sans-serif;
}

main {
    font-size: 0px;
}

.for-header{
    text-align: center;
    color: #926239; 
    background-image: url('../image/beachshowcase.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding-top: 35vh;       
}

.h1-for-header{
    font-size: 50px;
    font-weight: bold;    
}


.p-for-header{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.btn-readmore{
    color: #926239;
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;    
    border:1px solid;
    border-color: #926239;     
    background-color: transparent;
    line-height: 1.6;
    margin-top: 10px;              
    
}

.btn-readmore:hover{
    background-color:#926239 ;
    color: white;
}


.arcticle-brown, .arcticle-white {
    text-align: center;
    padding: 20px;
    line-height: 1.6;
    font-size: 18px;

}

.arcticle-brown
{    
    color:white;    
    background-color: #926239; 
}

.arcticle-white
{
    color:#926239;    
    background-color: white; 
}

.bottom-blocks {
    display: inline-block;
    width: calc(100%/3) ;      
}