*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif, sans-serif;
}

main {
    font-size: 0px;
}


.for-header{
    text-align: center;
    color: #926239;    
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../image/beachshowcase.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding-top: 35vh;       
}

.for-header h1{
    font-size: 50px;
    font-weight: bold;    
}


.for-header p{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.btn-readmore{
    color: #926239;
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;    
    border:1px solid;
    border-color: #926239;
    font-size: 18px;  
    background-color: rgba(20,20,20,0);
    line-height: 1.6;
    margin-top: 10px;              
    
}

.btn-readmore:hover{
    background-color:#926239 ;
    color: white;
}

.arcticle-brown
{
    text-align: center;
    color:white;
    padding: 20px;
    background-color: #926239;
    font-size: 18px;    
    line-height: 1.6;
}


.arcticle-white
{
    text-align: center;
    color:#926239;;
    padding: 20px;
    background-color: white;
    font-size: 18px;    
    line-height: 1.6;
}

.bottom-blocks {
    display: inline-block;
    width: calc(100%/3) ;      
}